@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@layer base{
    body{
        @apply font-[Montserrat];
    }
    li{
        @apply px-4;
    }
}
.content-div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}
.content-div:hover{
    background-image: linear-gradient(
        to right,
        rgba(110, 120, 143, 0.8),
        hsla(214, 8%, 36%, 0.8)
    )!important;
    
}
